body{
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
}
  
h1{
    font-size: 42px;
    text-shadow: -1px -1px rgb(118, 118, 118), 1px 1px rgb(113, 113, 113), -3px 0 4px #000;
    font-family: "Courier New";
    color: peachpuff;
    padding:16px;
    font-weight:bold;
    text-align:center;
    display:block;
    margin:16px;
}

.container {
    width: 530px;
    /*border: 3px solid peachpuff;*/
    margin: 50px auto;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
}

.item {
    border: 2px solid gray;
    margin: 12px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 100%;
    transition: background-color 0.5s;
}

.buttons{
    margin: auto;
    width: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
  
button{
    box-shadow: -4px 4px gray;
    background-color: peachpuff;
    padding: 2px 15px;
    border-radius: 5px;
    transition-duration: 0.6s;
    font-size: 25px;
    font-family: "Courier New";
}

.buttons button:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
}